name="Mercantilisia"
adjective="Mercantilisan"
country_colors={
	flag=30
	color=14
	symbol_index=2
	flag_colors={
		16 8 2 
	}
}
index=1229
graphical_culture=1
technology_group=1
religion=1
government=1
government_reform=131
government_rank=2
idea={
	{
		level=1
		index=76
		name=""
		desc=""
	}
 {
		level=1
		index=0
		name=""
		desc=""
	}
 {
		level=1
		index=3
		name=""
		desc=""
	}
 {
		level=1
		index=35
		name=""
		desc=""
	}
 {
		level=1
		index=2
		name=""
		desc=""
	}
 {
		level=1
		index=77
		name=""
		desc=""
	}
 {
		level=1
		index=36
		name=""
		desc=""
	}
 {
		level=1
		index=1
		name=""
		desc=""
	}
 {
		level=1
		index=37
		name=""
		desc=""
	}
 {
		level=1
		index=78
		name=""
		desc=""
	}
 
}
culture="wallonian"
monarch={
	admin=7
	diplomacy=7
	military=7
	age=30
	female=no
	name="Hamelin I"
	dynasty="de Foix"
	is_null=no
	personality={
		"trusting_personality"
	}
}
heir={
	admin=3
	diplomacy=3
	military=3
	age=15
	female=yes
	name="Arsinde I"
	dynasty="de Foix"
	is_null=no
	personality={
		"provacateur_personality"
	}
}
queen={
	admin=3
	diplomacy=3
	military=3
	age=20
	female=yes
	name="Gisèle I"
	dynasty="de Saintignon"
	is_null=no
	personality={
		"obsessive_perfectionist_personality"
	}
}
