mod/
shadercache/
exceptions/
gfx/
.launcher-cache/
cache/
Screenshots/
logs/
crashes/
Anbennar/
playlists/
playsets_backup/
pops_filestorage/
pdx_login_cache.txt
launcher-v2.sqlite
continue_game.json
*.sqlite
save\ games/
old_saves/
2095475587/gfx/event_pictures
